.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 75px;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}



.display
{
  text-align:center;
  width: 400px;
  margin:auto;


}
.btn
{
  width: 200px;
  height: 50px;
  margin-bottom: 10px;
  background-color: rgb(188, 120, 228);
  color: wheat;
  font-size: 32px;
  text-decoration: bold;

  
}
